
@{
    ViewBag.Title = "Registration";
}

<h1>New User Registration</h1>
<h3>Please fill out the form to register.</h3>
<form method="post">
    First Name:<br />
    <input type="text" name="firstname" required><br />
    Last Name:<br />
    <input type="text" name="lastname" required><br />
    Email:<br />
    <input type="email" name="email" required><br />
    Phone Number:<br />
    <input type="tel" name="phoneNumber" required><br />
    Password:<br />
    <input type="password" name="password" required><br />
    <input type="submit" value="Register">
</form>
